{% extends "base/intern-public-switch.twig" %}

{% block title %}Ausbildung im Verein{{ parent() }}{% endblock %}

{% block content %}
	<h1 class="page-header">Ausbildung im Verein</h1>

	<h3 class="page-header">Jugendausbildung</h3>
	<p>
		Die Jugendausbildung hat bei uns im Verein schon immer einen sehr hohen Stellenwert, denn nur durch eine gesunde
		Nachwuchsf&ouml;rderung ist das zuk&uuml;nftige Bestehen unseres Vereins gesichert.
	</p>
	<p>
		Das Ziel unserer Ausbildung ist die aktive Mitwirkung in der Jugend- bzw. Gesamtkapelle des Musikvereins
		"Orgelfels" Reichental (MVO). Voraussetzung f&uuml;r die Mitwirkung in der Gesamtkapelle ist der Erwerb des
		Jungmusikerleistungsabzeichens (JMLA) in Bronze.
	</p>

	<h3 class="page-header">Blockfl&ouml;tenunterricht</h3>
	<p>
		F&uuml;r Kinder ab der ersten Klasse bieten wir Blockfl&ouml;tenunterricht in kleinen Gruppen an.
		Der Unterricht erfolgt durch vereinseigene Musiker/innen und dauert 45 Minuten pro Woche.
		Die Kinder erlernen spielerisch erste Notenkenntnisse, Rhythmik, theoretisches Grundwissen und das Zusammenspiel.
	</p>

	<h3 class="page-header">Instrumentalunterricht</h3>
	<p>
		Nach der Blockfl&ouml;tenausbildung erfolgt die Ausbildung auf einem Blas- oder Schlaginstrument. Die erlernten
		Kenntnisse und F&auml;higkeiten aus dem Blockfl&ouml;tenunterricht erleichtern dabei den Einstieg in die
		Instrumentalausbildung.
	</p>
	<p>
		Die Ausbildung erfolgt, soweit dies m&ouml;glich ist, durch vereinseigene Musiker/innen mit entsprechender Qualifikation.
		Bei Bedarf werden weitere externe Lehrkr&auml;fte oder die Musikschule Murgtal eingebunden.
	</p>
	<p>
		Damit erm&ouml;glichen wir den Kindern und Jugendlichen eine fundierte Ausbildung und bereiten sie auf das Gesamtspiel in der Kapelle vor.
	</p>

	<h3 class="page-header">Jugendkapelle</h3>
	<p>
		Unser Verein hat 2011 nach mehrj&auml;hriger Pause wieder eine Jugendkapelle gegr&uuml;ndet, die ihren ersten Auftritt beim Muttertagskonzert absolvierte.
	</p>
	<p>
		Auf Anfrage des Jugenddirigenten Thomas Oefler aus Obertsrot im Jahr 2013 haben wir uns entschieden,
		uns mit den  Musikvereinen Obertsrot und Hilpertsau zusammenzutun, um eine gemeinsame Jugendkapelle zu gr&uuml;nden.
		Diese bietet nun hinsichtlich des Repertoires und der Klangvielfalt mehr M&ouml;glichkeiten.
	</p>
	<p>
		Die Jugendlichen im Alter von 11 bis 17 Jahren treffen sich samstags vormittags im Abstand von ein bis zwei Wochen, um zusammen zu proben.
		Sie haben Auftritte bei Festen oder Konzerten unserer Vereine oder auch bei befreundeten Vereinen.
	</p>
	<p>
		Im Sommer 2015 gab Thomas Oefler das Dirigat an Stefan We&szlig;becher aus Hilpertsau, der die gemeinsame Jugendkapelle nun weiterf&uuml;hrt.
	</p>

	<h3 class="page-header">Folgende Instrumente k&ouml;nnen erlernt werden:</h3>
	Bariton, Tenorhorn, Tuba, Posaune, Trompete, Fl&uuml;gelhorn, Klarinette, Saxophon, Querfl&ouml;te, Schlagzeug
{% endblock %}