{% extends "account/settings/page.twig" %}

{% block scripts %}
    {{ parent() }}

    <script src="bower_components/pwstrength-bootstrap/dist/pwstrength-bootstrap.min.js"></script>
    <script src="bower_components/zxcvbn/dist/zxcvbn.js"></script>

    <script src="js/password-validation.js"></script>
{% endblock %}

{% block settingsHeader %}
    {% if update.password %}
        {% if update.password is constant("UPDATE_PASSWORD_OK", this) %}
            <div class="alert alert-success"><i class="fa fa-check"></i> Das Passwort wurde erfolgreich ge&auml;ndert!</div>
        {% elseif update.password is constant("UPDATE_PASSWORD_INVALID", this) %}
            <div class="alert alert-danger"><i class="fa fa-exclamation-triangle"></i> Das angegebene Passwort ist nicht g&uuml;tig!</div>
        {% elseif update.password is constant("UPDATE_PASSWORD_POLICY_ERROR", this) %}
            <div class="alert alert-danger"><i class="fa fa-exclamation-triangle"></i> Das Passwort muss aus mindestens 6 Zeichen und sowohl aus Buchstaben als auch aus Zahlen bestehen!</div>
        {% else %}
            <div class="alert alert-danger"><i class="fa fa-exclamation-triangle"></i> Ein unbekannter Fehler ist aufgetreten ({{ update.password }})</div>
        {% endif %}
    {% elseif update.username %}
        {% if update.username is constant("UPDATE_USERNAME_OK", this) %}
            <div class="alert alert-success"><i class="fa fa-check"></i> Der Benutzername wurde erfolgreich ge&auml;ndert!</div>
        {% elseif update.username is constant("UPDATE_USERNAME_MIN_LENGTH", this) %}
            <div class="alert alert-danger"><i class="fa fa-exclamation-triangle"></i> Der Benutzername muss aus mindestens 3 Zeichen bestehen!</div>
        {% elseif update.username is constant("UPDATE_USERNAME_ALREADY_IN_USE", this) %}
            <div class="alert alert-danger"><i class="fa fa-exclamation-triangle"></i> Der Benutzername wird bereits verwendet!</div>
        {% endif %}
    {% endif %}
{% endblock %}

{% block settingsContent %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Passwort &auml;ndern</h3>
        </div>

        <div class="panel-body">
            <form method="post" id="settings-password-form">
                <input type="hidden" name="form" value="password"/>

                <div class="form-group">
                    <label for="settings-password-current">Aktuelles Passwort</label>
                    <input type="password" class="form-control" id="settings-password-current" name="currentPassword" required/>
                </div>

                <div id="settings-password-new-box">
                    <div class="form-group">
                        <label for="settings-password-new">Neues Passwort</label>
                        <input type="password" class="form-control password-meter" id="settings-password-new" name="newPassword" required/>
                    </div>

                    <div class="form-group">
                        <label for="settings-password-new-confirm">Neues Passwort (best&auml;tigen)</label>
                        <input type="password" class="form-control password-meter" id="settings-password-new-confirm" required/>
                    </div>

                    <span class="help-block"></span>
                </div>

                <button type="submit" class="btn btn-success">Speichern</button>
            </form>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Benutzername &auml;ndern</h3>
        </div>

        <div class="panel-body">
            <form method="post">
                <input type="hidden" name="form" value="username"/>

                <div class="form-group">
                    <label for="settings-account-username">Benutzername</label>
                    <input type="text" class="form-control" id="settings-account-username" name="username" value="{{ user.username }}"/>
                </div>

                <button type="submit" class="btn btn-success">Speichern</button>
            </form>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Zwei-Faktor-Authentifizierung
                {% if user.has2FA %}
                    <span class="label label-success pull-right">aktiviert</span>
                {% else %}
                    <span class="label label-danger pull-right">deaktiviert</span>
                {% endif %}
            </h3>
        </div>

        <div class="panel-body">
            <p class="help-block">
                Mit der Zwei-Faktor-Authentifizierung kannst du deinen Benutzeraccount zus&auml;tzlich mit einem sich immer wieder &auml;ndernden Code absichern.<br/>
                Das Verfahren ist &auml;nlich zu einer TAN beim Online Banking: Jeder Code ist nur einmalig g&uuml;ltig, aber auch nur f&uuml;r eine bestimmte Zeit.<br/>
                Alles was du hierf&uuml;r brauchst ist eine App wie den <strong>Google Authenticator</strong>, welche die Codes generiert. Diese gibt es sowohl f&uuml;r <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2" target="_blank">Android</a> als auch f&uuml;r <a href="https://itunes.apple.com/de/app/google-authenticator/id388497605" target="_blank">iOS</a>.<br/>
                Bei jedem Login musst du dann zus&auml;tzlich zu deinem Benutzername und Passwort auch den in der App generierten Code eingeben.
            </p>

            <div class="form-group" id="settings-2fa-password-group">
                <label for="settings-2fa-password">Aktuelles Passwort</label>
                <input type="password" class="form-control" id="settings-2fa-password" required/>
                <span class="help-block"></span>
            </div>

            <div class="form-group">
                {% if user.has2FA %}
                    <button type="button" class="btn btn-danger" id="settings-2fa-disable">Deaktivieren</button>
                {% else %}
                    <button type="button" class="btn btn-success" id="settings-2fa-enable">Aktivieren</button>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="modal fade" id="settings-2fa-enable-modal" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Zwei-Faktor-Authentifizierung aktivieren</h4>
                </div>
                <div class="modal-body">
                    <h4>Scanne den folgenden QRCode mit der Google Authenticator App.</h4>
                    <div id="settings-2fa-qrcode" class="text-center"></div>

                    <h4>Gebe anschlie&szlig;end den 6 stelligen Code aus der App in das nachfolgende Feld ein.</h4>
                    <div class="form-group" id="settings-2fa-token-group">
                        <label for="settings-2fa-token">Code</label>
                        <input type="text" class="form-control" id="settings-2fa-token" required/>
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
                    <button type="button" class="btn btn-success" id="settings-2fa-enable-submit">Aktivieren</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}