{% extends "account/settings/page.twig" %}

{% block settingsHeader %}
    {% if update.contact %}
        {% if update.contact is constant("UPDATE_CONTACT_OK", classInstance) %}
            <div class="alert alert-success"><i class="fas fa-check"></i> Deine Kontaktdaten wurden erfolgreich aktualisiert.</div>
        {% elseif update.contact is constant("UPDATE_CONTACT_INVALID_ID", classInstance) %}
            <div class="alert alert-danger"><i class="fas fa-exclamation-triangle"></i> Beim Aktualisieren der Kontaktdaten ist ein Fehler aufgetreten! Bitte versuche es erneut.</div>
        {% endif %}
    {% endif %}
{% endblock %}

{% block settingsContent %}
    <div class="card">
        <div class="card-header">Kontakt</div>

        <div class="card-body">
            <form method="post">
                <input type="hidden" name="form" value="contact"/>

                {% for contact in user.contacts %}
                    <div class="settings-contact">
                        <input type="hidden" name="id[]" value="{{ contact.id }}"/>

                        {{ include("account/settings/single-contact.twig") }}
                    </div>
                {% endfor %}

                {{ include("account/settings/single-contact.twig") }}

                <button type="submit" class="btn btn-success">Speichern</button>
            </form>
        </div>
    </div>
{% endblock %}