{% extends "account/settings/page.twig" %}

{% block settingsHeader %}
    {% if update.email %}
        {% if update.email is constant("UPDATE_EMAIL_OK", classInstance) %}
            <div class="alert alert-success"><i class="fas fa-check"></i> Es wurde eine Email an deine neue Email-Adresse gesendet. Bitte klicke auf den Link in dieser Email um deine Email-Adresse zu best&auml;tigen.</div>
        {% elseif update.email is constant("UPDATE_EMAIL_INVALID_PASSWORD", classInstance) %}
            <div class="alert alert-danger"><i class="fas fa-exclamation-triangle"></i> Das angegebene Passwort ist nicht g&uuml;tig!</div>
        {% elseif update.email is constant("UPDATE_EMAIL_UNCHANGED", classInstance) %}
            <div class="alert alert-danger"><i class="fas fa-exclamation-triangle"></i> Die neue Email-Adresse unterscheidet sich nicht von deiner aktuellen Email-Adresse!</div>
        {% elseif update.email is constant("UPDATE_EMAIL_INVALID", classInstance) %}
            <div class="alert alert-danger"><i class="fas fa-exclamation-triangle"></i> Die angegebene Email-Adresse ist ung&uuml;ltig!</div>
        {% endif %}
    {% endif %}
{% endblock %}

{% block settingsContent %}
    <div class="card">
        <div class="card-header">Email-Adresse &auml;ndern</div>

        <div class="card-body">
            <form method="post" id="settings-email-form">
                <input type="hidden" name="form" value="email"/>

                <div class="form-group">
                    <label for="settings-email-password">Aktuelles Passwort</label>
                    <input type="password" class="form-control" id="settings-email-password" name="password" required/>
                </div>

                <div class="form-group">
                    <label for="settings-email-current">Aktuelle Email-Adresse</label>
                    <input type="email" class="form-control" id="settings-email-current" value="{{ user.email }}" readonly/>
                </div>

                <div id="settings-email-new-box">
                    <div class="form-group">
                        <label for="settings-email-new">Neue Email-Adresse</label>
                        <input type="email" class="form-control" id="settings-email-new" name="email" required/>
                    </div>

                    <div class="form-group">
                        <label for="settings-email-new-confirm">Neue Email-Adresse (best&auml;tigen)</label>
                        <input type="email" class="form-control" id="settings-email-new-confirm" required/>
                    </div>

                    <span class="form-text"></span>
                </div>

                <button type="submit" class="btn btn-success">Speichern</button>
            </form>
        </div>
    </div>
{% endblock %}