{% extends "account/settings/page.twig" %}

{% block settingsHeader %}
    {# TODO: Add success/error alert on save #}
{% endblock %}

{% block settingsContent %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Email-Adresse &auml;ndern</h3>
        </div>

        <div class="panel-body">
            <form method="post">
                <input type="hidden" name="form" value="email"/>

                <div class="form-group">
                    <label for="settings-email-password">Aktuelles Passwort</label>
                    <input type="password" class="form-control" id="settings-email-password" name="password" required/>
                </div>

                <div class="form-group">
                    <label for="settings-email-current">Aktuelle Email-Adresse</label>
                    <input type="email" class="form-control" id="settings-email-current" value="{{ user.email }}" readonly/>
                </div>

                <div class="form-group">
                    <label for="settings-email-new">Neue Email-Adresse</label>
                    <input type="email" class="form-control" id="settings-email-new" name="email" required/>
                </div>

                <div class="form-group">
                    <label for="settings-email-new-confirm">Neue Email-Adresse (best&auml;tigen)</label>
                    <input type="email" class="form-control" id="settings-email-new-confirm" required/>
                </div>

                <!-- TODO: Verify new email address with confirmed new email address (JS) -->

                <button type="submit" class="btn btn-success">Speichern</button>
            </form>
        </div>
    </div>
{% endblock %}