<div class="page-header">
	<h1>Einstellungen</h1>
	<p class="text-muted">Hier kannst du deine Benutzerdaten wie deinen Benutzernamen sowie dein Passwort anpassen.</p>
</div>

{{#message}}
	<div class="alert alert-{{type}}"><i class="fa fa-{{icon}}"></i> {{{text}}}</div>
{{/message}}

<div class="row">
	<div class="col-md-3">
		<div class="list-group">
			{{#pages}}
				{{#active}}
					<span class="list-group-item active">{{title}}</span>
				{{/active}}
				{{^active}}
					<a class="list-group-item" href="intern/settings/{{name}}">{{title}}</a>
				{{/active}}
			{{/pages}}
		</div>
	</div>

	<div class="col-md-9">
		{{{content}}}
	</div>
</div>