<form method="post">
	<input type="hidden" name="form" value="password"/>

	<div class="form-group">
		<label for="settings-password-current">Aktuelles Passwort</label>
		<input type="password" class="form-control" id="settings-password-current" name="currentPassword" required/>
	</div>

	<div class="form-group">
		<label for="settings-password-new">Neues Passwort</label>
		<input type="password" class="form-control" id="settings-password-new" name="newPassword" required/>
	</div>

	<div class="form-group">
		<label for="settings-password-new-confirm">Neues Passwort (best&auml;tigen)</label>
		<input type="password" class="form-control" id="settings-password-new-confirm" required/>
	</div>

	<!-- TODO: Verify new password with confirmed new password (JS) -->

	<button type="submit" class="btn btn-success">Speichern</button>
</form>