<form method="post" id="settings-account-profilepicture-form" enctype="multipart/form-data">
	<input type="hidden" name="form" value="profilepicture"/>

	<div class="row">
		<div class="col-md-2">
			<img src="users/{{user.id}}/profile-picture.jpg?hash={{user.profilePictureHash}}" id="settings-account-profilepicture-img"/>
		</div>

		<div class="col-md-5">
			<input type="file" id="settings-account-profilepicture" name="profilePicture"/>

			<input type="hidden" id="settings-account-profilepicture-crop-coords" name="profilePicture-crop"/>
		</div>
	</div>
</form>

<div class="modal fade" id="settings-account-profilepicture-crop-modal" data-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Profilbild bearbeiten</h4>
			</div>
			<div class="modal-body">
				<img id="settings-account-profilepicture-crop-img"/>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
				<button type="button" class="btn btn-success" id="settings-account-profilepicture-upload">Hochladen</button>
			</div>
		</div>
	</div>
</div>