.login-form {
    max-width: 500px;
    padding: 15px;
    margin: 0 auto;
}

#login-2fa-token {
    margin-bottom: 10px;
}

#settings-profile-profilepicture-box-left, #settings-profile-profilepicture-box-right {
    float: left;
}

#settings-profile-profilepicture-box-left {
    margin-right: 10px;
    margin-bottom: 10px;
}

#settings-profile-profilepicture-img {
    width: 150px;
    border-radius: 3px;
}

#settings-profile-profilepicture-upload-error {
    display: none;
}

#settings-2fa-qrcode {
    margin-bottom: 30px;
}

.password-meter {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}