@media screen {
    body {
        background-color: #343a40;
    }

    #body {
        padding: 0;
        box-shadow: 0 0 10px 0 black;
    }

    @media (min-width: 576px) {
        #body {
            margin-top: 20px;
            margin-bottom: 20px;
            border-radius: .25rem;
        }
    }

    #header-img {
        width: 100%;
    }

    #content {
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
    }
}