@media screen {
    body {
        padding-top: 64px;
    }
}

#navbar-profile > img {
    height: 32px;
    border-radius: 3px;
}

@media (max-width: 991px) {
    #navbar-links-toggler {
        display: block !important
    }
}

#navbar-links {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-right: -15px;
    margin-left: -15px
}

.nav-submenu {
    padding-left: 20px;
}

@media (min-width: 768px) {
    #navbar-sidebar {
        border-right: 1px solid rgba(0, 0, 0, 0.1);
    }

    @supports (position: sticky) {
        #navbar-sidebar {
            position: sticky;
            top: 4rem;
            z-index: 1000;
            height: calc(100vh - 4rem);
        }
    }
}

@media (min-width: 992px) {
    @supports ((position:-webkit-sticky) or (position:sticky)) {
        #navbar-links {
            max-height: calc(100vh - 64px);
            overflow-y: auto
        }
    }
}

@media (min-width: 992px) {
    #navbar-links {
        display: block !important
    }
}