@media (min-width: 992px) {
    #members-details-user {
        position: fixed;
    }
}

#members-send-message-button {
    display: none;
}

#members-send-message-recipients {
    margin-bottom: 10px;
}