@media (min-width: 992px)
{
	#members-details-user
	{
		position: fixed;
	}
}

#members-groups
{
	margin-bottom: 15px;
}

#members-send-message-button
{
	display: none;
}

#members-send-message-recipients
{
	margin-bottom: 10px;
}