{% extends "base/intern-public-switch.twig" %}

{% block title %}Passwort zur&uuml;cksetzen{{ parent() }}{% endblock %}

{% block stylesheets %}
	{{ parent() }}

	<link rel="stylesheet" href="css/account.css"/>
{% endblock %}

{% block content %}
	<h1 class="page-header">Passwort zur&uuml;cksetzen</h1>

	<div class="alert alert-success"><i class="fa fa-check"></i> Dein Passwort wurde erfolgreich zur&uuml;ckgesetzt.</div>

	<a href="intern">Weiter zum Login</a>
{% endblock %}