{% extends "base/internal-public-switch.twig" %}

{% block title %}Passwort zur&uuml;cksetzen{{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset("css/account.css") }}"/>
{% endblock %}

{% block content %}
    <form class="login-form" method="post" action="internal/reset-password">
        <h2>Passwort zur&uuml;cksetzen</h2>

        <p class="form-text">Solltest du dein Passwort vergessen haben, kannst du dieses hier zur&uuml;cksetzen. Gebe hierzu deinen Benutzername ein.</p>

        {% if errorMessage %}
            <div class="alert alert-danger">{{ errorMessage|raw }}</div>
        {% endif %}

        <div class="form-label-group">
            <input type="text" name="username" class="form-control" id="login-reset-password-username" placeholder="Benutzername" required autofocus/>
            <label for="login-reset-password-username">Benutzername</label>
        </div>

        <button class="btn btn-lg btn-primary btn-block">Weiter</button>
    </form>
{% endblock %}