{% extends "base/internal-public-switch.twig" %}

{% block title %}Passwort zur&uuml;cksetzen{{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="css/account.css"/>
{% endblock %}

{% block content %}
    <form class="login-form" method="post" action="internal/reset-password">
        <h2>Passwort zur&uuml;cksetzen</h2>

        <p class="form-text">Solltest du dein Passwort vergessen haben, kannst du dieses hier zur&uuml;cksetzen. Gebe hierzu deinen Benutzername ein.</p>

        {% if errorMessage %}
            <div class="alert alert-danger">{{ errorMessage|raw }}</div>
        {% endif %}

        <div class="input-group">
            <input type="text" name="username" class="form-control" placeholder="Benutzername" required autofocus/>
            <span class="input-group-append"><button class="btn btn-primary">Weiter</button></span>
        </div>
    </form>
{% endblock %}