{% extends "base/internal-public-switch.twig" %}

{% block title %}Passwort zur&uuml;cksetzen{{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="css/account.css"/>
{% endblock %}

{% block content %}
    <h2>Passwort zur&uuml;cksetzen</h2>

    <p class="form-text">
        Eine Email wurde an deine Email-Adresse gesendet.<br/>
        Klicke auf den Link in der Email um dein Passwort zur&uuml;ckzusetzen.
    </p>
{% endblock %}