/.idea/
/.vagrant/
/httpdocs/bower_components/
/src/main/resources/config.ini
/src/main/resources/permissions.serialized
/src/main/resources/pictures.serialized
/src/main/resources/news.html
/src/main/resources/twig-cache
/vendor/
