/.idea/
/.vagrant/
/httpdocs/node_modules/
/src/main/resources/config.ini
/src/main/resources/legacy-picture-albums.list
/src/main/resources/*.serialized
/src/main/resources/news.html
/src/main/resources/twig-cache
/vendor/
/version