{% extends "base/intern-public-switch.twig" %}

{% block title %}Login{{ parent() }}{% endblock %}

{% block stylesheets %}
	{{ parent() }}

	<link rel="stylesheet" href="css/account.css"/>
{% endblock %}

{% block content %}
	<form id="login-form" method="post" action="intern/login?redirect={{ url }}">
		<h2>
			Login im internen Bereich<br/>
			<small>Musikverein "Orgelfels" Reichental e.V.</small>
		</h2>

		{% if errorMessage %}
			<div class="alert alert-danger">{{ errorMessage|raw }}</div>
		{% endif %}

		{% if requestToken %}
			<div class="alert alert-info">
				Bei deinem Account ist die Zwei-Faktor-Authentifizierung aktiviert.<br/>
				Gebe den aus der App generierten Code in das nachfolgende Feld ein.
			</div>

			<input type="text" id="login-2fa-token" name="2fa-token" class="form-control" placeholder="Code" required/>
		{% else %}
			<input type="text" id="login-username" name="username" class="form-control" placeholder="Benutzername" required autofocus/>
			<input type="password" id="login-password" name="password" class="form-control" placeholder="Passwort" required/>
		{% endif %}

		<button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
	</form>
{% endblock %}