<form id="login-form" method="post" action="intern/login?redirect={{url}}">
	<h2>
		Login im internen Bereich<br/>
		<small>Musikverein "Orgelfels" Reichental e.V.</small>
	</h2>

	{{#errorMessage}}
		<div class="alert alert-danger">{{{.}}}</div>
	{{/errorMessage}}

	{{#requestToken}}
		<div class="alert alert-info">
			Bei deinem Account ist die Zwei-Faktor-Authentifizierung aktiviert.<br/>
			Gebe den aus der App generierten Code in das nachfolgende Feld ein.
		</div>

		<input type="text" id="login-2fa-token" name="2fa-token" class="form-control" placeholder="Code" required/>
	{{/requestToken}}
	{{^requestToken}}
		<input type="text" id="login-username" name="username" class="form-control" placeholder="Benutzername" required autofocus/>
		<input type="password" id="login-password" name="password" class="form-control" placeholder="Passwort" required/>
	{{/requestToken}}

	<button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
</form>