{% extends "base/intern-public-switch.twig" %}

{% block title %}Logout{{ parent() }}{% endblock %}

{% block content %}
    <h1 class="page-header">Logout</h1>

    <p>Du wurdest abgemeldet.</p>
{% endblock %}