<!DOCTYPE html>
<html>
    <head>
        <title>Password ge&auml;ndert</title>
    </head>

    <body>
        <p>Hallo {{ user.firstName }},</p>

        <p>du hast dein Passwort f&uuml;r den Zugang zum internen Bereich des Musikvereins Orgelfels Reichental e.V. ge&auml;ndert.</p>

        <p>
            Solltest du diese &Auml;nderung nicht vorgenommen haben, &auml;ndere bitte schnellstm&ouml;glich dein Passwort indem du dein <a href="{{ resetPasswordUrl }}">Passwort zur&uuml;cksetzst</a>.<br/>
            Sollte dies nicht mehr m&ouml;glich sein, wende dich bitte an den Webmaster.
        </p>
    </body>
</html>