<div class="page-header">
	<h1>Einstellungen</h1>
</div>

{{#message}}
	<div class="alert alert-{{type}}"><i class="fa fa-{{icon}}"></i> {{text}}</div>
{{/message}}

<p class="text-muted">Hier kannst du deine Benutzerdaten wie deinen Benutzernamen sowie dein Passwort anpassen.</p>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Profilbild</h3>
	</div>

	<div class="panel-body">
		<form method="post" id="settings-account-profilepicture-form" enctype="multipart/form-data">
			<input type="hidden" name="form" value="profilepicture"/>

			<div class="row">
				<div class="col-md-2">
					<img src="users/{{user.id}}/profile-picture.jpg?hash={{user.profilePictureHash}}" id="settings-account-profilepicture-img"/>
				</div>

				<div class="col-md-5">
					<input type="file" id="settings-account-profilepicture" name="profilePicture"/>

					<input type="hidden" id="settings-account-profilepicture-crop-coords" name="profilePicture-crop"/>
				</div>
			</div>
		</form>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Account</h3>
	</div>

	<div class="panel-body">
		<form method="post">
			<input type="hidden" name="form" value="account"/>

			<div class="form-group">
				<label for="settings-account-username">Benutzername</label>
				<input type="text" class="form-control" id="settings-account-username" name="username" value="{{user.username}}"/>
			</div>

			<div class="form-group">
				<label for="settings-account-firstname">Vorname</label>
				<input type="text" class="form-control" id="settings-account-firstname" name="firstName" value="{{user.firstName}}">
			</div>

			<div class="form-group">
				<label for="settings-account-lastname">Nachname</label>
				<input type="text" class="form-control" id="settings-account-lastname" name="lastName" value="{{user.lastName}}">
			</div>

			<button type="submit" class="btn btn-success">Speichern</button>
		</form>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Passwort</h3>
	</div>

	<div class="panel-body">
		<form method="post">
			<input type="hidden" name="form" value="password"/>

			<div class="form-group">
				<label for="settings-password-current">Aktuelles Passwort</label>
				<input type="password" class="form-control" id="settings-password-current" name="currentPassword" required/>
			</div>

			<div class="form-group">
				<label for="settings-password-new">Neues Passwort</label>
				<input type="password" class="form-control" id="settings-password-new" name="newPassword" required/>
			</div>

			<div class="form-group">
				<label for="settings-password-new-confirm">Neues Passwort (best&auml;tigen)</label>
				<input type="password" class="form-control" id="settings-password-new-confirm" required/>
			</div>

			<!-- TODO: Verify new password with confirmed new password (JS) -->

			<button type="submit" class="btn btn-success">Speichern</button>
		</form>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Email-Adresse</h3>
	</div>

	<div class="panel-body">
		<form method="post">
			<input type="hidden" name="form" value="email"/>

			<div class="form-group">
				<label for="settings-email-password">Aktuelles Passwort</label>
				<input type="password" class="form-control" id="settings-email-password" name="password" required/>
			</div>

			<div class="form-group">
				<label for="settings-email-current">Aktuelle Email-Adresse</label>
				<input type="email" class="form-control" id="settings-email-current" value="{{user.email}}" readonly/>
			</div>

			<div class="form-group">
				<label for="settings-email-new">Neue Email-Adresse</label>
				<input type="email" class="form-control" id="settings-email-new" name="email" required/>
			</div>

			<div class="form-group">
				<label for="settings-email-new-confirm">Neue Email-Adresse (best&auml;tigen)</label>
				<input type="email" class="form-control" id="settings-email-new-confirm" required/>
			</div>

			<!-- TODO: Verify new email address with confirmed new email address (JS) -->

			<button type="submit" class="btn btn-success">Speichern</button>
		</form>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Kontakt</h3>
	</div>

	<div class="panel-body">
		<form method="post">
			<input type="hidden" name="form" value="contact"/>

			{{#user.contacts}}
				<div class="form-group">
					<select class="selectpicker show-tick" name="type[]" data-selection="{{type}}">
						<option value="fax">Fax</option>
						<option value="mobile">Mobil</option>
						<option value="phone">Telefon</option>
					</select>
					<select class="selectpicker show-tick" name="category[]" data-selection="{{category}}">
						<option value="private">Privat</option>
						<option value="business">Gesch&auml;ftlich</option>
					</select>

					<input type="text" class="form-control" name="value[]" value="{{value}}"/>

					<button class="input-group-addon btn btn-danger"><i class="fa fa-remove"></i></button>
				</div>
			{{/user.contacts}}

			<button type="submit" class="btn btn-success">Speichern</button>
		</form>
	</div>
</div>

<div class="modal fade" id="settings-account-profilepicture-crop-modal" data-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Profilbild bearbeiten</h4>
			</div>
			<div class="modal-body">
				<img id="settings-account-profilepicture-crop-img"/>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
				<button type="button" class="btn btn-success" id="settings-account-profilepicture-upload">Hochladen</button>
			</div>
		</div>
	</div>
</div>