<div class="table-responsive" id="members-list">
	<table class="table table-striped table-hover sortable">
		<thead>
			<tr>
				<th data-defaultsort="disabled" class="hidden-print"><input type="checkbox" class="members-select-checkbox"/></th>
				<th>Vorname</th>
				<th>Nachname</th>
				<th data-defaultsort="disabled">Email</th>
				<th data-defaultsort="disabled">Telefon</th>
			</tr>
		</thead>
		<tbody>
			{{#users}}
				<tr data-id="{{id}}">
					<td class="hidden-print"><input type="checkbox" class="members-select-checkbox"/></td>
					<td class="first-name">
						<a href="intern/members/{{username}}" class="hidden-print"><i class="fa fa-info-circle"></i></a>
						{{firstName}}
					</td>
					<td class="last-name">{{lastName}}</td>
					<td>{{email}}</td>
					<td>
						{{#contacts}}
							<div>{{type}} ({{category}}): {{value}}</div>
						{{/contacts}}
					</td>
				</tr>
			{{/users}}
		</tbody>
	</table>
</div>