<div class="table-responsive">
	<table class="table table-striped sortable">
		<thead>
			<tr>
				<th>Vorname</th>
				<th>Nachname</th>
				<th data-defaultsort="disabled">Email</th>
				<th data-defaultsort="disabled">Telefon</th>
			</tr>
		</thead>
		<tbody>
			{{#users}}
				<tr>
					<td>
						<a href="intern/members/{{username}}" class="hidden-print"><i class="fa fa-info-circle"></i></a>
						{{firstName}}
					</td>
					<td>{{lastName}}</td>
					<td>{{email}}</td>
					<td>
						{{#contacts}}
							<div>{{type}} ({{category}}): {{value}}</div>
						{{/contacts}}
					</td>
				</tr>
			{{/users}}
		</tbody>
	</table>
</div>