<!doctype html>
<html lang="de">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <title>{% block title %}{% endblock %} - Musikverein Orgelfels Reichental e.V.</title>

        <base href="{% block baseUrl %}/{% endblock %}"/>

        {% set assetPrefix = globals.internal ? "internal" : "public" %}

        {{ encore_entry_link_tags(assetPrefix) }}
        {{ encore_entry_script_tags(assetPrefix) }}

        <!--
            Why are you looking at the code of this website?

            Maybe you want to see the whole source code including the server side code? It is hosted on GitLab: https://gitlab.com/MVOReichental/Website
        -->
    </head>

    <body>
        {% block body %}{% endblock %}

        <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
            <div class="slides"></div>
            <h3 class="title"></h3>
            <a class="prev">‹</a>
            <a class="next">›</a>
            <a class="close">×</a>
            <a class="play-pause"></a>
            <ol class="indicator"></ol>
        </div>
    </body>
</html>