{% extends "base/internal-public-switch.twig" %}

{% block title %}Proberaumbelegung{{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="bower_components/fullcalendar/dist/fullcalendar.min.css"/>
{% endblock %}

{% block scripts %}
    {{ parent() }}

    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
    <script src="bower_components/fullcalendar/dist/locale/de.js"></script>
    <script src="bower_components/remarkable-bootstrap-notify/dist/bootstrap-notify.min.js"></script>

    <script src="js/roomoccupancyplan.js"></script>
{% endblock %}

{% block content %}
    <h1 class="page-header">Proberaumbelegung</h1>

    <div id="roomoccupancyplan-calendar" data-editable="{{ currentUser.hasPermission("roomoccupancyplan.edit") }}"></div>

    <div class="modal fade" id="roomoccupancyplan-edit-modal">
        <div class="modal-dialog">
            <form class="modal-content" id="roomoccupancyplan-edit-form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Eintrag bearbeiten</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="roomoccupancyplan-edit-title">Titel:</label>
                        <input class="form-control" type="text" id="roomoccupancyplan-edit-title"/>
                    </div>

                    <div class="form-group">
                        <label for="roomoccupancyplan-edit-date">Startdatum:</label>
                        <input class="form-control" type="date" id="roomoccupancyplan-edit-date"/>
                    </div>

                    <div class="form-group">
                        <label for="roomoccupancyplan-edit-start-time">Startzeit:</label>
                        <input class="form-control" type="time" id="roomoccupancyplan-edit-start-time"/>
                    </div>

                    <div class="form-group">
                        <label for="roomoccupancyplan-edit-end-time">Endzeit:</label>
                        <input class="form-control" type="time" id="roomoccupancyplan-edit-end-time"/>
                    </div>

                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="roomoccupancyplan-edit-repeat-weekly"/>
                                W&ouml;chentlich wiederholen
                            </label>
                        </div>

                        <label for="roomoccupancyplan-edit-repeat-till-date">bis:</label>
                        <input class="form-control" type="date" id="roomoccupancyplan-edit-repeat-till-date"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="btn-group">
                        <button type="submit" class="btn btn-primary">Speichern</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}