<!DOCTYPE html>
<html>
    <head>
        <title>Neues Protokoll hochgeladen</title>
    </head>

    <body>
        <p>{{ uploader.fullName }} hat ein Protokoll hochgeladen.</p>

        <p><b>Datum:</b> {{ date.humanReadableDate }}</p>
        <p><b>Titel:</b> {{ title }}</p>

        <p>Du kannst das Protokoll <a href="{{ url }}">hier</a> herunterladen.</p>
    </body>
</html>