@import "common";

@media screen {
  body {
    background-color: #343a40;
  }

  #body {
    padding: 0;
  }

  @media (min-width: 576px) {
    #body {
      margin-top: 20px;
      margin-bottom: 20px;
      border-radius: .25rem;
      box-shadow: 0 0 10px 0 black;
    }
  }

  #navbar-container {
    background-color: #24292e;
  }

  #header-img {
    width: 100%;
  }

  #content {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
  }
}