<!DOCTYPE html>
<html>
    <head>
        <title>Passwort zur&uuml;cksetzen</title>
    </head>

    <body>
        Hallo {{ user.firstName }},<br/>
        <br/>
        du hast auf der Website des Musikvereins Orgelfels Reichental e.V. das Zur&uuml;cksetzen deines Passworts angefordert.<br/>
        <br/>
        Solltest du dies nicht angefordert haben, l&ouml;sche bitte diese Email.<br/>
        Zum Zur&uuml;cksetzen, klicke bitte <a href="{{ url }}">hier</a>.<br/>
        <br/>
        Dieser Link ist nur f&uuml;r 24 Stunden g&uuml;ltig!
    </body>
</html>