{{#messages.count}}
	<ul class="media-list">
		{{#messages}}
			<li class="media well">
				<div class="media-left gallery-source">
					<a href="users/{{sender.id}}/profile-picture.jpg?hash={{sender.profilePictureHash}}">
						<img class="media-object img-rounded" src="users/{{sender.id}}/profile-picture.jpg?hash={{sender.profilePictureHash}}" width="100"/>
					</a>
				</div>
				<div class="media-body">
					<div class="clearfix">
						<strong>Von:</strong>
						{{#sender}}
							<a href="intern/members/{{username}}" class="label label-default">{{firstName}} {{lastName}}</a>
						{{/sender}}
						<div class="messages-date">
							<i class="fa fa-clock-o"></i> {{#date}}{{humanReadableDate}} um {{humanReadableTime}}{{/date}}
						</div>
					</div>
					<div class="clearfix">
						<strong>An:</strong>
						{{#recipients}}
							<a href="intern/members/{{username}}" class="label label-default">{{firstName}} {{lastName}}</a>
						{{/recipients}}
					</div>
					{{#attachments.count}}
						<div class="clearfix">
							<strong>Anh&auml;nge:</strong>
							{{#attachments}}
								<a href="intern/uploads/{{id}}/{{filename}}" class="label label-default">{{filename}}</a>
							{{/attachments}}
						</div>
					{{/attachments.count}}
					{{{formatText}}}
				</div>
			</li>
		{{/messages}}
	</ul>
{{/messages.count}}

{{^messages.count}}
	<div class="alert alert-warning"><i class="fa fa-exclamation-triangle"></i> Keine Nachrichten verf&uuml;gbar.</div>
{{/messages.count}}