{% extends "base/internal-public-switch.twig" %}

{% block title %}{{ title }}{{ parent() }}{% endblock %}

{% block content %}
    <h1 class="page-header">{{ title }}</h1>

    {% include("messages/list.twig") %}
{% endblock %}