{% extends "base/intern-public-switch.twig" %}

{% block title %}Nachricht senden{{ parent() }}{% endblock %}

{% block content %}
    <h1 class="page-header">Nachricht senden</h1>

    <div class="alert alert-success"><i class="fa fa-check-circle"></i> Die Nachricht wurde erfolgreich gesendet.</div>

    {% include("messages/list.twig") %}
{% endblock %}