<h1>Beitrittserkl&auml;rung</h1>

<p>Wenn Sie uns unterst&uuml;tzen m&ouml;chten, dann werden Sie doch Mitglied bei uns.</p>
<p>Laden Sie das <a href="beitreten/beitrittserklaerung.pdf">PDF Dokument</a> herunter und f&uuml;llen Sie es aus.</p>
<p>Die Beitrittserkl&auml;rung kann bei jedem <b>aktiven</b> Musiker abgegeben werden.</p>

<p><strong>Zum &Ouml;ffnen des Dokuments wird ein PDF Reader wie z.B. der <a href="https://www.foxitsoftware.com/products/pdf-reader/" target="_blank">Foxit Reader</a> ben&ouml;tigt.</strong></p>