{% extends "base/internal-public-switch.twig" %}

{% block title %}Beitrittserkl&auml;rung{{ parent() }}{% endblock %}

{% block content %}
    <h1 class="page-header">Beitrittserkl&auml;rung</h1>

    <p>Wenn Sie uns unterst&uuml;tzen m&ouml;chten, dann werden Sie doch Mitglied bei uns.</p>
    <p>Laden Sie das <a href="beitreten/beitrittserklaerung.pdf">PDF Dokument</a> herunter und f&uuml;llen Sie es aus.</p>
    <p>Die Beitrittserkl&auml;rung kann bei jedem <b>aktiven</b> Musiker abgegeben werden.</p>
{% endblock %}