{% extends "base/internal-public-switch.twig" %}

{% block title %}Bisherige erste Vorsitzende{{ parent() }}{% endblock %}

{% block content %}
    <h1 class="page-header">Bisherige erste Vorsitzende</h1>

    <dl class="dl-horizontal">
        <dt>1955-1963</dt>
        <dd>Kornel Merkel</dd>

        <dt>1963-1969</dt>
        <dd>Helmut Merkel</dd>

        <dt>1969-1973</dt>
        <dd>Hermann Berny</dd>

        <dt>1973-1985</dt>
        <dd>Ambros Wieland</dd>

        <dt>1985-1993</dt>
        <dd>Edgar Sieb</dd>

        <dt>1993-2009</dt>
        <dd>Guido Wieland</dd>

        <dt>ab 2009 Vorstandsteam (gleichberechtigt)</dt>

        <dt>2009 bis 2017</dt>
        <dd>Erhard Klumpp, Birgit Gerweck</dd>

        <dt>2017 bis heute</dt>
        <dd>Birgit Gerweck, Edith Wieland</dd>
    </dl>
{% endblock %}