{% extends "base/internal-public-switch.twig" %}

{% block title %}Chronik{{ parent() }}{% endblock %}

{% block content %}
    <h1 class="page-header">Chronik</h1>

    <dl class="dl-horizontal">
        <dt>1891</dt>
        <dd>Gr&uuml;ndung der Musikkapelle Reichental</dd>

        <dt>1955</dt>
        <dd>Gr&uuml;ndung des Musikverein Orgelfels Reichental e.V. erster Vorsitzender ist Kornel Merkel</dd>

        <dt>1962</dt>
        <dd>
            Anf&uuml;hrung des ersten Rosenmontagsumzugs<br/>
            Anschaffung der 1. Uniform
        </dd>

        <dt>1974</dt>
        <dd>Erstes Konzert in der Turnhalle mit Bewirtung</dd>

        <dt>1976</dt>
        <dd>Erster Zeltgottesdienst in Reichental beim Sommerfest des Musikvereins</dd>

        <dt>1977</dt>
        <dd>Eigene Fastnachtsveranstaltung am Rosenmontag in der Turnhalle</dd>

        <dt>1978</dt>
        <dd>Tanzveranstaltung am Fastnachtssonntag zus&auml;tzlich zum Rosenmontag</dd>

        <dt></dt>
        <dd>Erstes Kurkonzert im Kurpark in Gernsbach</dd>

        <dt>1980</dt>
        <dd>
            Die ersten Frauen werden in der Kapelle aufgenommen<br/>
            Bis 2010 Beteiligung am Altstadtfest mit Bewirtschaftung, zuerst in der Storrentorstra&szlig;e, dann auf Motex-Parkplatz
        </dd>

        <dt>1981</dt>
        <dd>Auftritt bei der Landesgartenschau in Baden-Baden</dd>

        <dt>1982</dt>
        <dd>Der Proberaum wird von der Kochschule in ein Klassenzimmer der neuen Schule verlegt</dd>

        <dt>1984</dt>
        <dd>
            Jugendausbildung durch eigene Musiker wird begonnen<br/>
            Der Verein wird in das Vereinsregister eingetragen und lautet nun: Musikverein Orgelfels Reichental e.V.<br/>
            Das erste Muttertagskonzert findet statt
        </dd>

        <dt>1985</dt>
        <dd>Das neugegr&uuml;ndete Saxofon-Register pr&auml;sentiert sich</dd>

        <dt>1988</dt>
        <dd>Ein neuer H&ouml;chststand von 251 Mitgliedern wird verzeichnet</dd>

        <dt>1989</dt>
        <dd>Erster Bunter Abend am Fastnachtssonntag</dd>

        <dt>1990</dt>
        <dd>Erste Video-Aufzeichnungen von Fastnacht in der Halle</dd>

        <dt>1991</dt>
        <dd>
            100 Jahre Musikkapelle Reichental<br/>
            Verleihung der PRO-MUSICA-Plakette
        </dd>

        <dt>1992</dt>
        <dd>Aufnahmen zur Musikkassette "Musikalische Gr&uuml;&szlig;e aus Gernsbach"</dd>

        <dt></dt>
        <dd>Mitwirkung bei der Fernsehsendung "So ein Tag mit guten Freunden" im Europapark in Rust</dd>

        <dt>1994</dt>
        <dd>Am 10. Juli erster Dorfhock auf dem Schulhof</dd>

        <dt>1997</dt>
        <dd>Die Jugendkapelle wird gegr&uuml;ndet, musikalischer Leiter ist Volker Schmitt</dd>

        <dt>1998</dt>
        <dd>Am 2. Dezember startet die erste Blockfl&ouml;tengruppe, Ausbilder sind Sarah Knapp und Vanessa Kuhs</dd>

        <dt>1999</dt>
        <dd>Die erste Frau am Dirigentenpult: Diana Koep, heute Jourdan</dd>

        <dt>2000</dt>
        <dd>
            Im November findet der erste Jugendaktionstag im Pfarrheim statt bei dem die Jugendarbeit im Verein vorgestellt wird<br/>
            Mitwirkung bei der SWR4-Sendung "Morgenl&auml;uten"
        </dd>

        <dt>2001</dt>
        <dd>Jubil&auml;umsjahr 110 Jahre Musikkapelle Reichental</dd>

        <dt>2003</dt>
        <dd>Die Jahreshauptversammlung findet nur noch alle zwei Jahre statt</dd>

        <dt>2005</dt>
        <dd>Jubil&auml;umsjahr 50 Jahre Musikverein Orgelfels Reichental e.V.</dd>

        <dt>2007</dt>
        <dd>
            Fastnachtssitzungen werden an zwei Abenden (Samstag und Sonntag) durchgef&uuml;hrt<br/>
            F&ouml;rderverein wird gegr&uuml;ndet. Gleichberechtigte Vorst&auml;nde sind Esther Klumpp und Ulrike Brasseur
        </dd>

        <dt>2009</dt>
        <dd>
            10 Jahre Dirigentin Diana Jourdan<br/>
            Satzungs&auml;nderung: Der erste und zweite Vorstand werden zu gleichberechtigten Vorst&auml;nden eingetragen.<br/>
            Neues Vorstandsteam werden Erhard Klumpp und Birgit Engel.<br/>
            Guido Wieland gibt nach 16 Jahren die Vereinsspitze ab und &uuml;bernimmt von<br/>
            Esther Klumpp die Stelle im Vorstandsteam des F&ouml;rdervereins
        </dd>

        <dt>2010</dt>
        <dd>
            Die Organisation des Rosenmontagsumzugs wird von den Brunnberghexen &uuml;bernommen<br/>
            Zum ersten Mal in der Geschichte des Vereins absolviert eine Jungmusikerin, Liliane Brasseur, das Jungmusikerleistungsabzeichen in Gold
        </dd>

        <dt>2011</dt>
        <dd>
            Auftritt beim Neujahrsempfang der Stadt Gernsbach<br/>
            Erstes Herbstfest in der Festhalle mit Vorstellung der Jugendarbeit<br/>
            Als Mittagessen wird Wildschweingulasch aus den heimischen W&auml;ldern serviert<br/>
            Erster Auftritt auf der Himmelsb&uuml;hne beim Baden-Badener Weihnachtsmarkt
        </dd>

        <dt>2012</dt>
        <dd>
            Zum 50. Mal f&uuml;hren die Musiker den Rosenmontagsumzug an<br/>
            Zusammen mit dem Musikverein Staufenberg wird das 43. Bezirkskonzert in der Stadthalle in Gernsbach organisiert
        </dd>

        <dt>2014</dt>
        <dd>Beim Muttertagskonzert „Galaktische Reise“ wird Diana Jourdan für 15 Jahre Dirigentin beim MVO geehrt</dd>

        <dt>2015</dt>
        <dd>
            Das Dorfjubiläum „675 Jahre Reichental“ wird vom Musikverein mitgestaltet<br/>
            Andreas Wieland absolviert das JMLA in Gold
        </dd>

        <dt>2016</dt>
        <dd>
            „125 Jahre Blasmusik in Reichental“ Jubiläumskonzert in der Stadthalle zusammen mit der Bezirksjugendkapelle<br/>
            Jubiläumshock auf dem Schulhof und Kirchenkonzert zusammen mit dem Chor Uccelli Canori
        </dd>

        <dt>2017</dt>
        <dd>
            Erhard Klumpp tritt aus dem Vorstandsteam aus. Neues Vorstandsteam ist Birgit Engel und Edith Wieland<br/>
            4-Tages-Ausflug nach St. Valentin in Oberösterreich mit Auftritt als Gegenbesuch
        </dd>

        <dt>2019</dt>
        <dd>
            20 Jahre Dirigentin Diana Jourdan<br/>
            Jubiläumskonzert „INtakt - 20 Jahre Diana Jourdan und Musikverein Orgelfels Reichental“ in der Stadthalle<br/>
            Neues Logo: Musikverein Orgelfels Reichental e.V.<br/>
            Edith Wieland übernimmt den Bereich „Außen“ in der neuen Vorstandsstruktur. <br/>
            Katrin Hörth wechselt vom Musikervorstand zum Vorstandsteam mit Birgit Engel
        </dd>

        <dt>2020</dt>
        <dd>
            Die beiden Fastnachtsitzungen fanden erstmals am Freitag und Samstag statt,<br/>
            danach kam die Coronapandemie mit vielen Auflagen und keine Veranstaltungen<br/>
            Moritz Balensiefen absolviert das JMLA in Gold
        </dd>

        <dt>2021</dt>
        <dd>
            immer noch Coronapandemie. Feierabendhock auf dem Schulhof unter Corona-Auflagen und mit Abstand,<br/>
            und Weihnachtslieder spielen auf dem Schulhof mit Abstand ohne Bewirtung
        </dd>

        <dt>2022</dt>
        <dd>Muttertagsfrühstück statt Muttertagskonzert, da fast keine Proben möglich waren, auch das Herbstfest war verkürzt</dd>

        <dt>2023</dt>
        <dd>
            Auftritt beim Neujahrsempfang in Gernsbach, Erste Fastnachtssitzungen am Freitag und Samstag nach Corona,<br/>
            2-Tages-Ausflug nach Oberharmersbach zum Musikerkollegen Michael Klumpp mit Auftritt in Rammersweier<br/>
            Da niemand mehr bereit ist Vorstandsposten zu übernehmen, holt man sich Hilfe beim Workshop „Teambasiertes Vereinsmanagement“<br/>
            Mitwirkung der jungen Musiker bei „Murgtal Kids Concert“<br/>
            Juliane Jourdan absolviert das JMLA in Gold
        </dd>

        <dt>2024</dt>
        <dd>
            Jubiläumskonzert „Unser Weg - 25 Jahre Diana Jourdan und MVO Reichental“<br/>
            Ehrungen - 275 Jahre Blasmusik in Reichental (4 Musiker für 50 Jahre und 3 Musiker für 25 Jahre)<br/>
            Jahreshauptversammlung mit Satzungsänderung. Der Verein soll künftig von 6 Team-Vorständen geleitet werden
        </dd>
    </dl>
{% endblock %}
