<h1>Musiker</h1>

<div class="gallery-source">
	{{#groups}}
		<h2>{{title}}</h2>
		<div class="row">
			{{#users}}
				{{#id}}
					<div class="col-md-3">
						<a href="users/{{id}}/profile-picture.jpg?hash={{profilePictureHash}}" class="well well-sm thumbnail musicians-img" title="{{firstName}} {{lastName}}">
							<img src="users/{{id}}/profile-picture.jpg?hash={{profilePictureHash}}" class="img-thumbnail"/>
							<div class="caption">
								<h3>{{firstName}} {{lastName}}</h3>
							</div>
						</a>
					</div>
				{{/id}}
			{{/users}}
		</div>
	{{/groups}}
</div>