{% extends "base/internal-public-switch.twig" %}

{% block title %}Vereinsgeschichte{{ parent() }}{% endblock %}

{% block content %}
    <h1 class="page-header">Vereinsgeschichte</h1>

    <h2 class="page-header">Die Gr&uuml;ndung der Musikkapelle</h2>

    <p>Am 2. September 1891 unterzeichneten sechs M&auml;nner im Rathaus unter den Augen des B&uuml;rgermeisters Philipp W&ouml;rner die Satzung der zuk&uuml;nftigen Reichentaler Musikkapelle.</p>

    <p>
        <strong>
            Die Gr&uuml;ndungsv&auml;ter der Musikkapelle Reichental:<br/>
            Remigius Merkel, Franz Xaver Schmitt, August Gerstner, Leo Klumpp, Elias Wieland, Robert Kottler
        </strong>
    </p>

    <p>Der <strong>"Vertrag"</strong> erscheint auch heute noch lesenswert, deshalb hier einzelne Ausz&uuml;ge:</p>

    <ul class="list-unstyled">
        <li><strong>&#167 1</strong> Zweck der Kapelle ist die Erlernung der Musik und die Errichtung einer st&auml;ndigen Kapelle.</li>
        <li><strong>&#167 2</strong> Die Mitglieder m&uuml;ssen ihren st&auml;ndigen Wohnsitz in Reichental haben.</li>
        <li>
            <strong>&#167 4 Pflichten der Mitglieder</strong>
            <ol type="a">
                <li>Regelm&auml;&szlig;ige Teilnahme an den Proben und Auff&uuml;hrungen.</li>
                <li>Gleich hoher Beitrag aller Mitglieder zu den Kosten f&uuml;r Anschaffung der bezeichneten Gegenst&auml;nde.</li>
                <li>Gleich hoher Betrag in jeder Probe aller Mitglieder f&uuml;r das Honorar des Dirigenten.</li>
            </ol>
        </li>
        <li>
            <strong>&#167 6 Ordnungsstrafen sind</strong>
            <ol>
                <li>einfacher Verweis</li>
                <li>Geldstrafen von 30 Pf bis 5 Mk</li>
                <li>gesch&auml;rfter Verweis und Aussto&szlig;ung</li>
            </ol>
        </li>
    </ul>

    <p>
        Bis ins Jahr 1910 marschierten die M&auml;nner zum Dirigenten Wilhelm Traub nach Gernsbach.
        Aus Alters- und Krankheitsgr&uuml;nden &uuml;bergaben die Gr&uuml;nderv&auml;ter dann ihre Instrumente
        an sechs Nachwuchs-Musiker. Die Kapelle erneuerte sich in dieser Zeit komplett.
    </p>

    <p>
        <strong>
            Die 2. Aufstellung der Musikkapelle Reichental:<br/>
            Anton Knapp, Xaver Schmitt, Georg Zapf, August Zapf, Kornel Kast, Adolf Zapf
        </strong>
    </p>

    <p>
        Auch diese Musiker mussten zum Proben nach Gernsbach gehen.
        Die Dirigenten hie&szlig;en Hermann und K&uuml;hn. Wenige Jahre blieben den jungen M&auml;nner
        bis zum Beginn des 1. Weltkriegs. Der 27-j&auml;hrige Adolf Zapf und weitere 44 M&auml;nner
        aus dem Dorf verloren in diesem Krieg ihr Leben. Bereits im ersten Jahr
        nach Kriegsende gab es eine neue Kapelle.
    </p>

    <p>
        <strong>
            Die 3. Aufstellung der Musikkapelle Reichental:<br/>
            Wilhelm Wieland, Bernhard Merkel, Kornel Merkel, Anton Knapp, Xaver Schmitt, Georg Zapf
        </strong>
    </p>

    <div class="clearfix">
        <div class="thumbnail text-thumbnail">
            <img src="img/history/1924.jpg"/>
            <div class="caption text-center">
                <strong>Die Musikkapelle um das Jahr 1924</strong>
            </div>
        </div>
    </div>

    <p>
        Bernhard und Kornel Merkel waren Gl&uuml;cksgriffe f&uuml;r die Kapelle. Beide blieben 44 Jahre
        - bis 1963- aktive Musiker. Kornel Merkel war in dieser Zeit auch erster Vorstand
        und musikalischer Leiter der Kapelle.
        Die Musiker bereicherten in dieser Zeit das kulturelle Leben des Dorfes. Es wurde sowohl
        bei kirchlichen wie auch bei weltlichen Anl&auml;ssen gespielt. Das Spielen am Heilig Abend gab
        es wahrscheinlich schon um 1910, sicher aber seit dem Ende des 1. Weltkrieges.
        Dieser sch&ouml;ne Brauch wird auch heute noch gepflegt.
    </p>

    <p>
        Die Proben fanden reihum bei den einzelnen Musikern statt.
        In den zwanziger Jahren wurde das Repertoir anspruchsvoller, und die Auftritte h&auml;ufiger.
        Kornel Merkel, der die &Auml;mter des Vorstandes und des Dirigenten in Personalunion inne
        hatte, war dazu aktiver Musiker. Mit der Einstellung des Dirigenten Valentin Gerstner
        im Jahr 1928 wurde er entlastet. Gerstner stammte aus Langenbrand. Er leitete die Kapelle
        von 1928 bis 1970. Ende der zwanziger Jahre wurde sogar in einem eigenen Proberaum - der
        "Fortbildungsschule" geprobt, von den &auml;lteren Reichentaler noch heute liebevoll
        als "Kochschule" bezeichnet.
    </p>

    <p>
        Es folgten Jahre des wirtschaftlichen Niedergangs mit Inflation und Massenarbeitslosigkeit.
        Nach der Machtergreifung der Nationalsozialisten wurden Vereine und Gruppierungen sofort
        f&uuml;r deren Zwecke vereinnahmt. Und so durfte auch die Musikkapelle nur noch nationalen Zwecken dienen.
    </p>

    <p>
        Der zweite Weltkrieg kostete 66 M&auml;nnern aus Reichental das Leben, darunter der
        Musiker Bernhard Merkel.
    </p>

    <p>
        <strong>Die 4. Aufstellung der Musikkapelle Reichental:</strong><br/>
        Mit 14 Musikern begann nach Kriegsende die Probearbeit, wieder mit dem Dirigenten Valentin Gerstner.
        Bis auf Bernhard Merkel, desssen Instrument vom jungen Hellmut Merkel &uuml;bernommen wurde,
        fanden sich alle Musiker wieder zusammen. Ambros Wieland gab aus gesundheitlichen Gr&uuml;nden
        seine aktive T&auml;tigkeit in der Kapelle auf.
    </p>

    <p>
        In den folgenden Jahren hatte die Kapelle regelm&auml;&szlig;ige Auftritte
        an Fronleichnam, beim Patrozinium und der Erstkommunion. Die Glockenweihe am 29. Mai und
        ein Betriebsfest der Forstverwaltung waren 1949 die H&ouml;hepunkte. In den sechziger Jahren
        wurde bis in die fr&uuml;hen Morgenstunden zum Fastnachtstanz aufgespielt.
    </p>

    <h2 class="page-header">Die Gr&uuml;ndung des Vereins</h2>

    <p>
        Im November 1954 folgten viele Reichentaler einer besonderen Einladung in den "Gr&uuml;nen Baum".
        Aus der Musikkapelle sollte ein Musikverein werden.
    </p>

    <p>
        W&auml;hrend die Kapelle ein St&uuml;ck nach dem anderen spielte, wuchs eine Liste,
        die bereits die Runde machte, auf stattliche 75 Mitglieder an.
    </p>

    <p>
        Aber es bedurfte einer 2. Gr&uuml;nderversammlung, bis die Vorstandschaft und der
        Name des Vereins feststanden. &Uuml;ber den Vereinsnamen wurde lange diskutiert.
        Schlie&szlig;lich gab eine Felsformation dem Verein den Namen.
        Der Orgelfelsen, aus geologischer Sicht entstanden durch "Wollsackverwitterung",
        liegt oberhalb Reichentals, und man verband mit dem Felsen diesen Wunsch:
        "M&ouml;ge die Musikkapelle Orgelfels wie eine Orgel ihre Kl&auml;nge ert&ouml;nen lassen,
        und m&ouml;ge der Verein wie ein Fels immerfort bestehen bleiben."
    </p>

    <p>
        Nach 36 Jahren als Vorstand &uuml;bergab am 10. Februar 1963 Kornel Merkel das Amt
        des Vorsitzenden an seinen Sohn Helmut Merkel. Kornel Merkel wurde noch am
        gleichen Abend zum Ehrenvorsitzenden ernannt.
    </p>

    <p>
        Wie alte Fotos zeigen traten die Musiker anfangs in ihrem privaten Sonntagsstaat auf.
        Eine blaue Schildkappe sorgte sp&auml;ter f&uuml;r ein einheitlicheres Bild. In den f&uuml;nfziger Jahren
        pr&auml;sentierten sich die Musiker in schwarzen Anz&uuml;gen mit einer verzierten Schildm&uuml;tze.
    </p>

    <div class="clearfix">
        <div class="thumbnail text-thumbnail">
            <img src="img/history/kommunion.jpg"/>
            <div class="caption text-center">
                <strong>Kommunion</strong>
            </div>
        </div>
    </div>

    <p>
        Anfang der sechziger Jahre beschloss man eine einheitliche Uniform f&uuml;r die Musiker
        anzuschaffen. An Fronleichnam 1963 hatte der Verein seinen 1. Auftritt in der neuen
        Bekleidung. Bei schlechtem Wetter wurde sie aber geschont und man trug lieber Zivilkleidung.
        In den folgenden Jahren spielte die Kapelle bei zahlreichen Gelegenheiten.
    </p>

    <div class="clearfix">
        <div class="thumbnail text-thumbnail">
            <img src="img/history/1963.jpg"/>
            <div class="caption text-center">
                <strong>
                    Fronleichnam-Prozession 1963<br/>
                    in der neuangeschafften Uniform
                </strong>
            </div>
        </div>
    </div>

    <p>
        Bei der Generalversammlung am 23. M&auml;rz 1969 trat Helmut Merkel nach sechs Jahren als
        Vorsitzender zur&uuml;ck und Oberlehrer Hermann Berny trat an seine Stelle.
    </p>

    <p>
        1973 gab Hermann Berny aufgrund seiner Pensionierung seine Vorsitz ab und Ambros Wieland,
        der bisherige Schriftf&uuml;hrer wurde erster Vorsitzender des Vereins. Und es sollte bald
        noch ein Wechsel folgen.
    </p>

    <p>
        Nach 44-j&auml;hriger Dirigentschaft gab 1970 Valentin Gerstner den Dirigentenstab an
        Hugo Braun ab. Mit ihm begann eine neue musikalische &Auml;ra.
    </p>

    <p>
        Hugo Braun k&uuml;ndigte 1974 Jahr seinen Vertrag und Heinz Osygus,
        ein Profimusiker des S&uuml;dwestfunks, &uuml;bernahm nun das Dirigat.<br/>
        Nun gab es eine Welle von Auftritten und Aktivit&auml;ten, die in ihrer Art neu und
        unkonventionell waren. 1974 waren die Musiker - nun auch wieder mit einer neuen Uniform -
        ingesamt 80 Mal im Einsatz.
    </p>

    <p>
        <strong>Fastnacht in Reichental</strong><br/>
        Schon in den drei&szlig;iger Jahren spielten die Musiker j&auml;hrlich abwechselnd in den beiden Gasth&auml;usern
        zum Fastnachtstanz auf. Bei der Generalversammlung 1960 &auml;u&szlig;erte B&uuml;rgermeister Merkel
        den Wunsch mit zwei Besetzungen zu spielen, so dass in beiden Gasth&auml;usern getanzt
        werden konnte. Diesem Wunsch wurde gern entsprochen, aber Mitte der sechziger Jahre war
        die Zeit der Blaskapelle auf diesem Gebiet vorbei. Die Tanzkapellen mit ihren
        elektronischen Verst&auml;rkern setzten sich durch. An eine eigene Fastnachtsveranstaltung
        wagte sich der Verein erst 1977. Nach dem Rosenmontags-Umzug, der schon seit 1962
        von den verkleideten Musikern angef&uuml;hrt wird, schloss sich eine Kost&uuml;mpremierung f&uuml;r
        die Kinder an. Am Abend wurde der erste Rosenmontagsball mit einer Tanzkapelle gefeiert.
        Ein Jahr sp&auml;ter wurde auch am Fastnachtsonntag zum Tanz aufgespielt.
        Nach dem Umzug am Rosenmontag pr&auml;sentierten die Musiker zuerst ein kleines Unterhaltungsprogramm.
        Dieses Programm wurde dann ab 1989 auf den Abend des Fastnachtssonntag gelegt und f&uuml;llt
        bis zum heutigen Tag unsere Turnhalle bis auf den letzten Platz.
    </p>

    <p>
        Im Jahr 1979 gab es erstmals "Zuwachs" in der Vorstandschaft. Bedingt durch die immer
        gr&ouml;&szlig;er werdende Zahl junger Musiker im Verein wurde zum ersten Mal mit Edgar Klumpp ein Jugendvertreter
        gew&auml;hlt.
    </p>

    <p>
        Die magische Grenze von 200 Mitgliedern wurde in diesem Jahr &uuml;berschritten und
        die Kapelle wirkte wieder bei zahlreichen Auftritten mit.
    </p>

    <p>
        1980 feierte der Verein sein 25-j&auml;hriges Bestehen und im Lauf des Jahres blieb
        die Kapelle keine reine M&auml;nnerdom&auml;ne, denn Petra Schmitt und Edith Merkel
        unterst&uuml;tzten jetzt die Klarinetten-Gruppe.
    </p>

    <div class="clearfix">
        <div class="thumbnail text-thumbnail">
            <img src="img/history/1980.jpg"/>
            <div class="caption text-center">
                <strong>25-j&auml;hriges Vereinsjubil&auml;um im Jahr 1980</strong>
            </div>
        </div>
    </div>

    <p>
        Zu Beginn der achtziger Jahre kam es zu mehreren Wechseln in der Vorstandschaft.
        Krankheitsbedingt gaben Felix Zapf und Ambros Wieland nacheinander ihre &Auml;mter
        in j&uuml;ngere H&auml;nde. Ambros Wieland wurde nach 30 Jahren Arbeit in der Vereinsf&uuml;hrung
        zum Ehrenvorsitzenden ernannt.
    </p>

    <p>
        Neuer erster Vorsitzender wurde 1985 Edgar Sieb, das Amt des zweiten Vorsitzenden &uuml;bernahm
        Walter Merkel. Der letzte Wechsel vollzog sich 1989.
        Der damalige Schriftf&uuml;hrer Guido Wieland wurde zum zweiten Vorsitzenden gew&auml;hlt.
        Und es gab einen r&auml;umlichen Wechsel. Die Proben fanden ab Januar 1982 nicht mehr in der Kochschule,
        sondern in einem ehemaligen Klassenzimmer der neuen Schule statt.
    </p>

    <p>
        Nach der K&uuml;ndigung von Heinz Osygus konnte 1984 Hugo Moser
        - ein Mitglied der "Schwarzwaldmusikanten" - als Dirigent gewonnen werden. Unter seiner
        Leitung wurde die Tradition der Muttertagskonzerte begr&uuml;ndet, die sich bis heute
        kein Musik-Liebhaber entgehen l&auml;sst.
    </p>

    <p>
        Im Jahr 1985 wurden zahlreichen Auftritten absolviert, u.a. die Verabschiedung von
        Ortsvorsteher Oswald Sieb und die Einf&uuml;hrung von Edgar Sieb.
    </p>

    <p>
        Auf den Dirigenten Hugo Moser folgte 1987 der Berufsmusiker Andreas Michel. Sein Einstand
        waren "3 Kilometer Marschmusik" - ein Auftritt in M&uuml;hlhausen-Ehingen bei
        hochsommlichen Temperaturen.
    </p>

    <p>
        Einer der H&ouml;hepunkte der Feierlichkeiten zum 100-j&auml;hrigen Bestehen der Musikkapelle
        im Jahr 1989 war sicherlich die Verleihung der PRO-MUSICA-Plakette. Sie ist eine
        Anerkennung f&uuml;r die langj&auml;hrigen Verdienste um die Pflege der Musik und des kulturellen Lebens.
        Eine Delegation aus Reichental nahm in Bremerhaven an den Feierlichkeiten dazu teil.
    </p>

    <div class="clearfix">
        <div class="thumbnail text-thumbnail">
            <img src="img/history/1991.jpg"/>
            <div class="caption text-center">
                <strong>100-j&auml;hriges Bestehen der Musik-Kapelle im Jahr 1991</strong>
            </div>
        </div>
    </div>

    <p>Zum Geburtstag bekam die Musikkapelle auch einen neuen Dirigenten. Heiko G&ouml;tz &uuml;bernahm das Dirigat von Andreas Michel.</p>
    <p>
        Im Jahr 1993 kam es wieder zu tiefgreifenden Personal&auml;nderungen. Edgar Sieb gab den Posten des
        1. Vorsitzenden an Guido Wieland ab und Karl Wannenmacher wurde 2. Vorsitzender.
    </p>

    <p>
        1997 erfuhr der Musikverein einen weiteren positiven Entwicklungsschritt: Die F&ouml;rderung der Jugend wurde Schwerpunkt.
        Unter der Leitung von Volker Schmitt wurde die Jugendkapelle gegr&uuml;ndet. Viele Jugendliche
        wagten hier ihre ersten musikalischen Versuche.
        Bedingt durch den Wegzug ihres Leiters Volker Schmitt wurde sie im Jahr 2003 leider aufgel&ouml;st.
    </p>

    <p>
        1999 k&ouml;ndigte Heiko G&ouml;tz seinen Vertrag und Diana Jordan wurde die neue Dirigentin des Musikvereins.
        In diesem Jahr gab es noch einen Wechsel: Erhard Klumpp &uuml;bernahm von Karl Wannemacher das Amt des 2. Vorsitzenden.
        Die Mitwirkung des Vereins bei der SWR 4-Sendung "Morgenl&auml;uten" im Jahr 2000 war sicherlich der H&ouml;hepunkt des Jahres.
    </p>

    <p>Ein Jahr sp&auml;ter konnte der Verein das 110-j&auml;hrige Bestehen der Musikkapelle feiern.</p>

    <p>Im Jahr 2005 gab es erneut Grund f&uuml;r ein Fest. Der Musikverein wurde 50 Jahre alt.</p>

    <div class="clearfix">
        <div class="thumbnail text-thumbnail">
            <img src="img/history/2006.jpg"/>
            <div class="caption text-center">
                <strong>50 Jahre Musikverein "Orgelfels" Reichental</strong>
            </div>
        </div>
    </div>
{% endblock %}