<h1>Der Vorstand</h1>

<dl class="dl-horizontal dl-wide">
	<dt>Vorstand (Gleichberechtigt)</dt>
	<dd>Erhard Klumpp, Birgit Gerweck</dd>

	<dt>Kassenverwalterin</dt>
	<dd>Katrin H&ouml;rth</dd>

	<dt>Schriftf&uuml;hrerin</dt>
	<dd>Heike Kast</dd>

	<dt>Jugendleiterin</dt>
	<dd>Gisela Wieland</dd>

	<dt>Musikervorstand</dt>
	<dd>Karl Fortenbacher, Daniela Zapf</dd>

	<dt>Jugendvertreter</dt>
	<dd>Paula Sieb, Andreas Wieland</dd>

	<dt>Aktive Beisitzer</dt>
	<dd>David Brasseur, Michael Klumpp, Florian Wieland</dd>

	<dt>Passive Beisitzer</dt>
	<dd>Elke Fortenbacher, Danny Gottschalk, Edith Wieland</dd>
</dl>