{% extends "base/internal-public-switch.twig" %}

{% block title %}Kontakt{{ parent() }}{% endblock %}

{% block content %}
    <h1 class="page-header">Kontakt</h1>

    {% for contact in contacts %}
        <address>
            <strong>{{ contact.name }}</strong><br/>
            <span class="pre">{{ contact.text }}</span>

            {% if contact.mailbox|default(null) %}
                <br/>
                <a class="contact-mail" data-mailbox="{{ contact.mailbox }}"></a>
            {% endif %}
        </address>
    {% endfor %}
{% endblock %}