<div class="modal fade" id="members-send-message-modal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Nachricht senden</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form method="post" action="internal/messages/send" id="members-send-message-form" enctype="multipart/form-data">
                <div class="modal-body">
                    <div id="members-send-message-recipients"></div>
                    <input type="hidden" name="recipients" id="members-send-message-recipients-list"/>

                    <textarea class="form-control" rows="10" name="text" placeholder="Deine Nachricht" autofocus></textarea>

                    <div id="members-send-message-attachments">
                        <input type="file" name="files[]" multiple/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success"><i class="fas fa-paper-plane"></i> Senden</button>
                </div>
            </form>
        </div>
    </div>
</div>