<div class="page-header">
	<h1>Kontakt</h1>
</div>

{{#.}}
	<address>
		<strong>{{name}}</strong><br/>
		<span class="pre">{{text}}</span>

		{{#mailbox}}
			<br/>
			<a class="contact-mail" data-mailbox="{{mailbox}}"></a>
		{{/mailbox}}
	</address>
{{/.}}