<div class="modal fade edit-profilepicture-crop-modal" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Profilbild bearbeiten</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger upload-error">
                    <i class="fa fa-exclamation-triangle"></i> <span></span>
                </div>

                <img class="crop-img"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default cancel-button" data-dismiss="modal">Abbrechen</button>
                <button type="button" class="btn btn-success upload-button">
                    <span class="state-loading"><i class="fa fa-spinner fa-spin"></i></span>
                    <span class="state-idle"><i class="fa fa-upload"></i> Hochladen</span>
                </button>
            </div>
        </div>
    </div>
</div>