<h1 class="page-header">Aktuell</h1>

{% if news %}
	{{ news|raw }}
{% endif %}

{% if dates.count %}
	<h2 class="page-header">Unsere n&auml;chsten Termine</h2>

	{% include("dates/list.twig") %}

	<p class="text-muted">Klicken Sie <a href="termine">hier</a> um weitere Termine zu sehen.</p>
{% endif %}

{% if albums.count %}
	<h2 class="page-header">Neuste Bilder</h2>

	{% include("pictures/albums-list.twig") %}

	<p class="text-muted">Klicken Sie <a href="{{ picturesBaseUrl }}">hier</a> um weitere Alben zu sehen.</p>
{% endif %}