{% extends "base/internal-public-switch.twig" %}

{% block title %}Zugriff nicht erlaubt{{ parent() }}{% endblock %}

{% block content %}
    <h1 class="page-header"><i class="fas fa-exclamation-triangle"></i> Zugriff nicht erlaubt</h1>

    <p>Die gew&uuml;nschte Seite darf nicht aufgerufen werden.</p>
{% endblock %}