<ol class="breadcrumb">
	<li><a href="fotogalerie">Fotogalerie</a></li>
	<li class="active">{{year}}</li>
</ol>

<div class="page-header">
	<h1>Fotogalerie - Jahr ({{year}})</h1>
</div>

<div class="row">
	{{#albums}}
		<div class="col-sm-6 col-md-4">
			<a href="fotogalerie/{{year}}/{{name}}" class="thumbnail">
				<img src="pictures/{{id}}/small_{{cover.file}}.jpg"/>
				<div class="caption">
					<h3>{{title}}</h3>
				</div>
			</a>
		</div>
	{{/albums}}
	{{^albums.count}}
		<div class="alert alert-danger"><i class="fa fa-exclamation-triangle"></i> Keine Alben verf&uuml;gbar!</div>
	{{/albums.count}}
</div>