{{%ANCHORED-DOT}}

{{#id}}
	<h1>Fotogalerie - {{title}} ({{year}})</h1>

	<div class="row photobox-source">
		{{#pictures}}
			<div class="col-sm-6 col-md-4">
				<a href="pictures/{{albumId}}/large_{{file}}.jpg" class="well well-sm thumbnail">
					<img src="pictures/{{albumId}}/small_{{file}}.jpg"/>
					{{#.title}}
						<div class="caption">
							<h3>{{.}}</h3>
						</div>
					{{/.title}}
				</a>
			</div>
		{{/pictures}}
		{{^pictures.count}}
			<div class="alert alert-danger"><i class="fa fa-exclamation-triangle"></i> Keine Bilder verf&uuml;gbar!</div>
		{{/pictures.count}}
	</div>
{{/id}}
{{^id}}
	<h1>Fotogalerie</h1>
	<div class="alert alert-danger"><i class="fa fa-exclamation-triangle"></i> Album nicht gefunden!</div>
{{/id}}