<ol class="breadcrumb">
	<li><a href="fotogalerie">Fotogalerie</a></li>
	<li class="active">{{ year }}</li>
</ol>

<div class="page-header">
	<h1>
		Fotogalerie<br/>
		<span class="small">{{ year }}</span>
	</h1>
</div>

{% include("pictures/albums-list.twig") %}