<ol class="breadcrumb">
	<li><a href="{{ picturesBaseUrl }}">Fotogalerie</a></li>
	<li class="active">{{ year }}</li>
</ol>

<h1 class="page-header">
	Fotogalerie<br/>
	<span class="small">{{ year }}</span>
</h1>

{% include("pictures/albums-list.twig") %}