{{%ANCHORED-DOT}}

{{#id}}
	<ol class="breadcrumb">
		<li><a href="fotogalerie">Fotogalerie</a></li>
		<li><a href="fotogalerie/{{year}}">{{year}}</a></li>
		<li class="active">{{title}}</li>
	</ol>

	<div class="page-header">
		<h1>Fotogalerie - {{title}} ({{year}})</h1>
	</div>

	<div class="row gallery-source">
		{{#pictures}}
			<div class="col-sm-6 col-md-4">
				<a href="pictures/{{albumId}}/large_{{file}}.jpg" class="thumbnail" title="{{.title}}">
					<img src="pictures/{{albumId}}/small_{{file}}.jpg"/>
					{{#.title}}
						<div class="caption">
							<h3>{{.}}</h3>
						</div>
					{{/.title}}
				</a>
			</div>
		{{/pictures}}
		{{^pictures.count}}
			<div class="alert alert-danger"><i class="fa fa-exclamation-triangle"></i> Keine Bilder verf&uuml;gbar!</div>
		{{/pictures.count}}
	</div>
{{/id}}
{{^id}}
	<div class="page-header">
		<h1>Fotogalerie</h1>
	</div>

	<div class="alert alert-danger"><i class="fa fa-exclamation-triangle"></i> Album nicht gefunden!</div>
{{/id}}