<ol class="breadcrumb">
	<li class="active">Fotogalerie</li>
</ol>

<div class="page-header">
	<h1>Fotogalerie</h1>
</div>

<div class="row">
	{{#years}}
		<div class="col-sm-6 col-md-4">
			<a href="fotogalerie/{{year}}" class="well well-sm thumbnail">
				<img src="pictures/{{coverAlbum.id}}/small_{{coverAlbum.cover.file}}.jpg"/>
				<div class="caption">
					<h3>{{year}}</h3>
				</div>
			</a>
		</div>
	{{/years}}
	{{^years.count}}
		<div class="alert alert-danger"><i class="fa fa-exclamation-triangle"></i> Keine Alben verf&uuml;gbar!</div>
	{{/years.count}}
</div>