<ol class="breadcrumb">
	<li class="active">Fotogalerie</li>
</ol>

<div class="page-header">
	<h1>Fotogalerie</h1>
</div>

<div class="row">
	{% for year in years %}
		<div class="col-sm-6 col-md-4">
			<a href="fotogalerie/{{ year.year }}" class="thumbnail">
				<img src="pictures/{{ year.coverAlbum.id }}/small_{{ year.coverAlbum.cover.file }}.jpg"/>
				<div class="caption">
					<h3>{{ year.year }}</h3>
				</div>
			</a>
		</div>
	{% else %}
		<div class="alert alert-danger"><i class="fa fa-exclamation-triangle"></i> Keine Alben verf&uuml;gbar!</div>
	{% endfor %}
</div>