<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Datum</th>
				<th>Zeit</th>
				<th>Veranstaltung</th>
				<th>Ort</th>
			</tr>
		</thead>
		<tbody>
			{{#dates}}
				<tr>
					<td>{{startDate.humanReadableDate}}</td>
					<td>{{startDate.humanReadableTime}}{{#endDate}} - {{humanReadableTime}}{{/endDate}}</td>
					<td>{{title}}</td>
					<td>{{location.name}}</td>
				</tr>
			{{/dates}}
		</tbody>
	</table>
</div>