<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <title>{% block title %}{% endblock %} - Musikverein "Orgelfels" Reichental e.V.</title>

        <base href="{% block baseUrl %}/{% endblock %}"/>

        {% block stylesheets %}
            <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css"/>
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">
            <link rel="stylesheet" href="node_modules/blueimp-gallery/css/blueimp-gallery.min.css"/>
            <link rel="stylesheet" href="node_modules/bootstrap-sortable/Contents/bootstrap-sortable.css"/>

            <link rel="stylesheet" href="css/main.css"/>
        {% endblock %}

        {% block scripts %}
            <script src="node_modules/jquery/dist/jquery.min.js"></script>
            <script src="node_modules/popper.js/dist/umd/popper.min.js"></script>
            <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
            <script src="node_modules/blueimp-gallery/js/blueimp-gallery.min.js"></script>
            <script src="node_modules/bootstrap-sortable/Scripts/bootstrap-sortable.js"></script>
            <script src="node_modules/moment/min/moment-with-locales.min.js"></script>

            <script src="js/main.js"></script>
        {% endblock %}

        <!--
            Why are you looking at the code of this website?

            Maybe you want to see the whole source code including the server side code? It is hosted on GitHub: https://github.com/MVOReichental/Website
        -->
    </head>

    <body>
        {% block header %}{% endblock %}

        <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
            <div class="slides"></div>
            <h3 class="title"></h3>
            <a class="prev">‹</a>
            <a class="next">›</a>
            <a class="close">×</a>
            <a class="play-pause"></a>
            <ol class="indicator"></ol>
        </div>

        {% block body %}{% endblock %}

        {% block footer %}{% endblock %}
    </body>
</html>