<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <title>{% block title %}{% endblock %} - Musikverein "Orgelfels" Reichental e.V.</title>

        <base href="{% block baseUrl %}/{% endblock %}"/>

        {% block stylesheets %}
            <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css"/>
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">
            <link rel="stylesheet" href="node_modules/blueimp-gallery/css/blueimp-gallery.min.css"/>
            <link rel="stylesheet" href="node_modules/blueimp-bootstrap-image-gallery/css/bootstrap-image-gallery.min.css"/>
            <link rel="stylesheet" href="node_modules/bootstrap-sortable/Contents/bootstrap-sortable.css"/>

            <link rel="stylesheet" href="css/main.css"/>
        {% endblock %}

        {% block scripts %}
            <script src="node_modules/jquery/dist/jquery.min.js"></script>
            <script src="node_modules/popper.js/dist/umd/popper.min.js"></script>
            <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
            <script src="node_modules/blueimp-gallery/js/blueimp-gallery.min.js"></script>
            <script src="node_modules/blueimp-bootstrap-image-gallery/js/bootstrap-image-gallery.min.js"></script>
            <script src="node_modules/bootstrap-sortable/Scripts/bootstrap-sortable.js"></script>
            <script src="node_modules/moment/min/moment-with-locales.min.js"></script>

            <script src="js/main.js"></script>
        {% endblock %}
    </head>

    <body>
        {% block header %}{% endblock %}

        <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
            <div class="slides"></div>
            <h3 class="title"></h3>
            <a class="prev">‹</a>
            <a class="next">›</a>
            <a class="close">×</a>
            <a class="play-pause"></a>
            <ol class="indicator"></ol>
            <div class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title"></h4>
                            <button type="button" class="close" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body next"></div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary float-left prev">
                                <i class="glyphicon glyphicon-chevron-left"></i>
                                Previous
                            </button>
                            <button type="button" class="btn btn-primary next">
                                Next
                                <i class="glyphicon glyphicon-chevron-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% block body %}{% endblock %}

        {% block footer %}{% endblock %}
    </body>
</html>