{% extends "base/base.twig" %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="css/main-public.css"/>
{% endblock %}

{% block body %}
    <div class="container bg-light" id="body">
        <nav class="navbar navbar-expand-lg navbar-light" id="navbar-container">
            <a class="navbar-brand" href="" id="logo"><img src="img/logo.png"/></a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button">Verein <span class="caret"></span></a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="chronik">Chronik</a>
                            <a class="dropdown-item" href="vereinsgeschichte">Vereinsgeschichte</a>
                            <a class="dropdown-item" href="bisherige_erste_vorsitzende">Bisherige erste Vorsitzende</a>
                            <a class="dropdown-item" href="bisherige_dirigenten">Bisherige Dirigenten</a>
                            <a class="dropdown-item" href="vorstand">Vorstand</a>
                            <a class="dropdown-item" href="beitreten">Beitreten</a>
                            <a class="dropdown-item" href="musiker">Musiker</a>
                            <a class="dropdown-item" href="kontakt">Kontakt</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button">Jugendausbildung <span class="caret"></span></a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="jugendausbildung/ausbildung_im_verein">Ausbildung im Verein</a>
                            <a class="dropdown-item" href="jugendausbildung/ausbildungsgruppen">Ausbildungsgruppen</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button">F&ouml;rderverein <span class="caret"></span></a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="foerderverein/warum_foerderverein">Warum F&ouml;rderverein?</a>
                            <a class="dropdown-item" href="foerderverein/vorstand">Vorstand</a>
                            <a class="dropdown-item" href="foerderverein/kontakt">Kontakt</a>
                        </div>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="termine">Termine</a></li>
                    <li class="nav-item"><a class="nav-link" href="fotogalerie">Fotogalerie</a></li>
                </ul>
            </div>
        </nav>

        <img src="img/header.jpg" id="header-img" class="d-print-none"/>

        <main id="content">
            <!--[if lt IE 7]>
            <p class="alert alert-warning"><i class="fas fa-exclamation-triangle"></i> Sie verwenden einen <strong>veralteten</strong> Browser. Bitte <a href="http://browsehappy.com/">aktualisieren Sie ihren Browser</a>.</p>
            <![endif]-->

            {% block content %}{% endblock %}
        </main>
    </div>

    <footer id="footer" class="text-light mt-3 py-3 d-print-none">
        <div class="container">
            <p>&copy; {{ currentYear }} Musikverein "Orgelfels" Reichental e.V.</p>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="">Startseite</a></li>
                <li class="list-inline-item"><a href="impressum">Impressum</a></li>
                <li class="list-inline-item"><a href="internal">Interner Bereich</a></li>
            </ul>
        </div>
    </footer>
{% endblock %}